 <!-- mv_side_article_start -->
  <div class="section deco_bg_1">
    <div class="container">
      <div class="row">
        <!-- mv_article_start -->
        <div class="col-md-9 ">
          <!-- start -->
          <div class=" clearfix page-main">
            <div class="col-sm-12">
              <h2>
                <a href="news_page.html">【簡單掌握5個網頁設計原則】</a>
              </h2>
              <small class="news-date small">
                <i class="fa fa-fw fa-lg s fa-clock-o"></i>2018-04-22</small>
              <small class="news-tag small">
                <i class="fa fa-fw fa-tags fa-lg"></i>Tags：設計,網頁</small>
              <img src="uploads/news/news_01.jpeg" alt="" width="100%">

              <p class="text-justify">您可能會問自己，為什麼要為目前的
                <a href="">公司網站</a>換門面？是的，或許目前的網站與競爭對手的網站相較來說是過時了，但一個吸引人網站就這麼重要嗎？既使您沒…
              </p>
              <h3 class="news-heading">導覽列</h3>
              <p class="text-justify">網站最重要的部分就是導覽列了。導覽列可左右網站的成功與失敗，尤其是具有很多頁面的大型網站。導覽列一般包含主導覽列以及區分網站頁面的選單列表。好的導覽列必須清晰明確，幫助訪客在瀏覽的過程中，能夠方便並快速地找到他們所需的訊息。設計導覽列時，網頁設計師有時會太過沉迷於玩弄設計與花俏的字體。但對大多數的客戶來說，簡單易瞭的導覽列更能讓他們青睞。這樣說吧，您的網站導覽列必須單純到即便是您的祖母都可以理解它。
              </p>
              <h3 class="news-heading">品牌一致性</h3>
              <p class="text-justify">若是您的公司已有LOGO，並且已使用在印刷用品上（例如：名片、宣傳手冊、公司文件…等），那公司LOGO、識別顏色、品牌信息和圖像等等這些產品識別則需要適當的呈現在網頁中。建立公司品牌與網站一致性，讓您的客戶不管透過何種形式的媒體都可辨識您的品牌，進而維持彼此的業務來往是很重要的。通常當品牌的視覺傳達產生變化時，會讓客戶感到不舒服，而這也有可能為您的公司帶來負面影響。
              </p>
              <h3 class="news-heading">瀏覽模式與SEO</h3>
              <p class="text-justify">大多數人瀏覽網頁的方式與閱讀紙本書籍相同，從上到下，從左到右。網頁設計師在設計網站時也需要考慮到這一點。通常設計師都會確保把最重要的訊息放在網頁的左上方，因這可有助於訪客在首次進入網站時能夠更有效的獲取網站內資訊。但大多數人所不知道的是，把訊息放在這個地方也對SEO有幫助。當您把重要的公司相關關鍵字放在HTML語法內時，像Google或Bing這樣的主要搜尋引擎就可以輕鬆抓取您的網站，提升您在搜尋引擎內的網頁排名與曝光度。
              </p>
              <h3 class="news-heading">網站內容</h3>
              <p class="text-justify">實際上，網站內的文章內容除了傳達您的公司經營理念與期許，它的呈現方式也是非常重要的。比如說，文章撰寫者在撰寫內容時，或是為文章內容加上的視覺圖片或媒體，可考慮到把文字盡量簡明扼要卻溫馨熱情（取決於行業），這有助於讓訪客加深印象。此外，當頁面上的文字太多時，頁面上的視覺會變得混亂，增加頁面的閱讀困難度，就不會有訪客有興趣讀完整篇文章。透過簡化文章內容與視覺圖片效果，來增加圖文之間的空間。這個空間可讓訪客的眼睛暫時休息，讓他們不會感到厭煩。
              </p>
              <h3 class="news-heading">信任感</h3>
              <p class="text-justify">建立與客戶的信任感是非常重要的，但若您不了解，就永遠不知道他們的價值。若傳統的市場行銷策略就像是與潛在客戶的對話（當然這也是了解客戶需求的好方法），通過加強與客戶的對話，您可以知道並實現他們需要的並與他們產生共鳴。而若讓新的行銷模式（網站行銷），也就是您的網站，看起來更加熱情與值得信賴，您將會看到您的網站流量增加，進而增加業績。
                網際網絡對於更習慣於面對面經商的人來說可能是一個可怕的地方。對某些行業來說，它可能會讓他們聯想到電影「駭客任務」內的恐怖場景。因為比起讓人困擾的語法與數字，大多數的企業還是比較喜歡更友善的方式。但其實網站設計是建置使用者友善的一個好途徑，它可讓人們進來尋找有用的資訊與最佳做法。如果網站的設計與管理正確，客戶將會不斷的回到您的網站並與您的公司做生意。
              </p>
              <br>
              <br>
              <br>
              <small class="news-date small">
                <i class="fa fa-fw fa-lg s fa-clock-o"></i>2018-04-22</small>
              <br>
              <small class="news-tag small">
                <i class="fa fa-fw fa-tags fa-lg"></i>Tags：設計,網頁</small>
              <br>
              <br>
              <div class="bg-warning well-lg author">

                <div class="media">
                  <div class="media-left">
                    <img src="uploads/author/ayn.jpg" class="media-object img-circle" style="width:150px">
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Ayn</h4>
                    <p class="text-success text-justify">
                      <small>
                        出生於1989年隨興的O型。 於前端產業工作逾六年，對插畫小有興趣。 把優美的視覺設計化為動態網站能帶來成就感，對工作的各種面向都有無比熱忱，致力於發現並解決問題。
                      </small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div id="disqus_thread"></div>
            <script>
              (function () { // DON'T EDIT BELOW THIS LINE
                var d = document,
                  s = d.createElement('script');
                s.src = 'https://macroviz.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
              })();
            </script>
            <noscript>Please enable JavaScript to view the
              <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
            </noscript>
          </div>
          <!-- end -->
          <div class="col-md-6">
            <a href="" class="btn btn-block btn-info">上一則</a>
          </div>
          <div class="col-md-6">
            <a href="" class="btn btn-block btn-info">下一則</a>
          </div>
          <div class="col-md-12">
            <hr>
            <h4>相關文章</h4>
            <div class="media">
              <div class="media-left">
                <img src="uploads/news/news_01.jpeg" class="media-object " style="width:150px">
              </div>
              <div class="media-body">
                <h5 class="media-heading">
                  <a href="">【簡單掌握5個網頁設計原則】</a>
                </h5>
                <p class=" text-justify">
                  <small>
                    您可能會問自己，為什麼要為目前的公司網站換門面？是的，或許目前的網站與競爭對手的網站相較來說是過時了，但一...
                  </small>
                </p>

              </div>
            </div>
            <div class="media">
              <div class="media-left">
                <img src="uploads/news/news_02.jpeg" class="media-object " style="width:150px">
              </div>
              <div class="media-body">
                <h5 class="media-heading">
                  <a href="">【網頁設計圖片來源解決方案 - 購買圖庫】</a>
                </h5>
                <p class=" text-justify">
                  <small>
                    從新興的創業公司到知名的財富500強企業，我們致力於幫助當地和國際品牌與時俱進，並在當今高度創新和競爭激烈的創意環境中茁壯成長...
                  </small>
                </p>
              </div>
            </div>
            <div class="media">
              <div class="media-left">
                <img src="uploads/news/news_03.jpeg" class="media-object " style="width:150px">
              </div>
              <div class="media-body">
                <h5 class="media-heading">
                  <a href="">【如何撰寫一篇網頁文章】</a>
                </h5>
                <p class=" text-justify">
                  <small>
                    如果文章內容不是你的專業，也可以請相關的部門同事協助你完成。網頁文章通常不用寫太多，因為大多的網路使用者(及採購經理人)在...
                  </small>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- mv_article_end -->