<!-- mv_fullscreen_header_start -->
<body id="top">
  <div class="cover">
    <div class="navbar" id="header">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand pull-right" href="index.html">
            <span>
              <img src="images/logo.svg" alt="MACROVIZ">
            </span>
          </a>

        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right">

            <li class="active">
              <a href="article.html">網站建置知識庫</a>
            </li>
            <li class="active">
              <a href="lab.html">實驗性作品</a>
            </li>
            <li class="active">
              <a href="photos.html">攝影集</a>
            </li>
            <li class="active">
              <a href="contact_us.html">聯絡我們</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="text-success service-item">
            <span>打造最適合您行銷方案的網站</span>
            <span>協助您優化網站帶來收益</span>
            <span>給您最容易使用的管理介面</span>
          </h1>
          <p class="text-success">我們將協助您優化網站帶來收益</p>
          <br>

          <div class="col-sm-4 col-sm-offset-4">
            <a class="btn cta-btn btn-default btn-info">
              <span>
                <i class="fa  fa-fw fa-hand-o-right text-success"></i> 了解更多</span>
            </a>
          </div>

        </div>
      </div>
    </div>
    <div class="cover-image" id="demo-1" data-zs-overlay="false" data-zs-src='["images/index_banner_01.jpg", "images/index_banner_02.jpg",  "images/index_banner_04.jpg"]'
      data-zs-bullets="false">
      <div class="demo-inner-content">
      </div>
    </div>
  </div>
  </div>
<!-- mv_fullscreen_header_end -->