<!-- mv_footer_start -->
  <footer class="section section-primary">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-9">
          <p class="text-info"></p>
          <div class="row">
            <div class="col-md-12 text-left">
              <a href="#">
                <i class="fa fa-3x fa-fw fa-instagram text-success"></i>
              </a>
              <a href="#">
                <i class="fa fa-3x fa-fw fa-twitter text-success"></i>
              </a>
              <a href="#">
                <i class="fa fa-3x fa-fw fa-facebook text-success"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <p class="text-center text-info padding0">歡迎來電詢問</p>
          <p class="phone_number text-center">
            <a href="tel:028-612-8372" class="text-success">0989-865593</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="text-center">廣瞻互動媒體設計有限公司 台中市北區健行里忠明路424號地下一層 </p>
          <p class="text-center text-info">Copyright © Macroviz. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- mv_footer_end -->