<!-- mv_hover_block_start -->
  <div class="section bg-color deco_bg_3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center text-info">作品集</h1>
        </div>
      </div>
      <ul class="row list-unstyled" style="background-color:white">
        <li class="col-md-3 nopadding parent-relative">
          <div class="children-absolute">
            <a href="#" class="text-success">
              <p>
                <span>城市移動</span>
              </p>
            </a>
          </div>
          <img src="images/portfolio_citymove.jpg" width="100%">
        </li>

        <li class="col-md-3 nopadding parent-relative">
          <div class="children-absolute">
            <a href="#" class="text-success">
              <p>
                <span>EZ Mandarin</span>
              </p>
            </a>
          </div>
          <img src="images/portfolio_iprodaren.jpg" width="100%">
        </li>

        <li class="col-md-3 nopadding parent-relative">
          <div class="children-absolute">
            <a href="#" class="text-success">
              <p>
                <span>康姿多媚</span>
              </p>
            </a>
          </div>
          <img src="images/portfolio_respectspa.jpg" width="100%">
        </li>
        <li class="col-md-3 nopadding parent-relative">
          <div class="children-absolute">
            <a href="#" class="text-success">
              <p>
                <span>能馳國際有限公司</span>
              </p>
            </a>
          </div>
          <img src="images/portfolio_nez.jpg" width="100%">
        </li>
        <li class="col-md-3 nopadding parent-relative">
          <div class="children-absolute">
            <a href="#" class="text-success">
              <p>
                <span>HIBIKE</span>
              </p>
            </a>
          </div>
          <img src="images/portfolio_hibike.jpg" width="100%">
        </li>

        <li class="col-md-3 nopadding parent-relative">
          <div class="children-absolute">
            <a href="#" class="text-success">
              <p>
                <span>Gofun China</span>
              </p>
            </a>
          </div>
          <img src="images/portfolio_gofunchina.jpg" width="100%">
        </li>
        <li class="col-md-3 nopadding parent-relative">
          <div class="children-absolute">
            <a href="#" class="text-success">
              <p>
                <span>Gofun Japan</span>
              </p>
            </a>
          </div>
          <img src="images/portfolio_gofunjapan.jpg" width="100%">
        </li>
        <li class="col-md-3 nopadding parent-relative">
          <div class="children-absolute">
            <a href="#" class="text-success">
              <p>
                <span>東勢客家文化園區</span>
              </p>
            </a>
          </div>
          <img src="images/portfolio_hakka.jpg" width="100%">
        </li>
      </ul>
    </div>
  </div>
  <!-- mv_hover_block_end -->