  <!-- mv_side_list_start -->
  <div class="section deco_bg_1">
    <div class="container">
      <div class="row">
        <div class="col-md-9 ">
          <!-- start -->
          <div class="side-list clearfix">
            <div class="col-sm-4">
              <a class="side-list-img" href="article_page.html" class="img-responsive" style="overflow:hidden;display:block">
                <img src="uploads/news/news_01.jpeg" alt="">
              </a>
            </div>
            <div class="col-sm-8 ">
              <h3>
                <a href="article_page.html">【簡單掌握5個網頁設計原則】</a>
              </h3>
              <p class="text-justify">您可能會問自己，為什麼要為目前的公司網站換門面？是的，或許目前的網站與競爭對手的網站相較來說是過時了，但一個吸引人網站就這麼重要嗎？既使您沒…
              </p>
              <small class="side-list-date small">
                <i class="fa fa-fw fa-lg s fa-clock-o"></i>2018-04-22</small>
              <br>
              <small class="side-list-tag small">
                <i class="fa fa-fw fa-tags fa-lg"></i>Tags：設計,網頁</small>
            </div>
          </div>
          <!-- end -->
          <!-- start -->
          <div class="side-list clearfix">
            <div class="col-sm-4">
              <a class="side-list-img" href="article_page.html" class="img-responsive" style="overflow:hidden;display:block">
                <img src="uploads/news/news_02.jpeg" alt="">
              </a>
            </div>
            <div class="col-sm-8 ">
              <h3>
                <a href="side-list_page.html">【網頁設計圖片來源解決方案 - 購買圖庫】</a>
              </h3>
              <p class="text-justify">從新興的創業公司到知名的財富500強企業，我們致力於幫助當地和國際品牌與時俱進，並在當今高度創新和競爭激烈的創意環境中茁壯成長。 我們非常榮幸能…
              </p>
              <small class="side-list-date small">
                <i class="fa fa-fw fa-lg s fa-clock-o"></i>2018-04-22</small>
              <br>
              <small class="side-list-tag small">
                <i class="fa fa-fw fa-tags fa-lg"></i>Tags：設計,網頁</small>
            </div>
          </div>
          <!-- end -->
          <!-- start -->
          <div class="side-list clearfix">
            <div class="col-sm-4">
              <a class="side-list-img" href="article_page.html" class="img-responsive" style="overflow:hidden;display:block">
                <img src="uploads/news/news_03.jpeg" alt="">
              </a>
            </div>
            <div class="col-sm-8 ">
              <h3>
                <a href="article_page.html">【如何撰寫一篇網頁文章】</a>
              </h3>
              <p class="text-justify">如果文章內容不是你的專業，也可以請相關的部門同事協助你完成。網頁文章通常不用寫太多，因為大多的網路使用者(及採購經理人)在忙碌的上班時間都沒…
              </p>
              <small class="side-list-date small">
                <i class="fa fa-fw fa-lg s fa-clock-o"></i>2018-04-22</small>
              <br>
              <small class="side-list-tag small">
                <i class="fa fa-fw fa-tags fa-lg"></i>Tags：設計,網頁</small>
            </div>
          </div>
          <!-- end -->
          <!-- start -->
          <div class="side-list clearfix">
            <div class="col-sm-4">
              <a class="side-list-img" href="article_page.html" class="img-responsive" style="overflow:hidden;display:block">
                <img src="uploads/news/news_04.jpeg" alt="">
              </a>
            </div>
            <div class="col-sm-8 ">
              <h3>
                <a href="article_page.html">【電腦版網站和手機版的使用行為差異比較】</a>
              </h3>
              <p class="text-justify">目前使用手機瀏覽網頁的人越來越多，但其實用電腦瀏覽和手機瀏覽的使用方式不太一樣。以下簡單介紹幾點跟大家分享…
              </p>
              <small class="side-list-date small">
                <i class="fa fa-fw fa-lg s fa-clock-o"></i>2018-04-22</small>
              <br>
              <small class="side-list-tag small">
                <i class="fa fa-fw fa-tags fa-lg"></i>Tags：設計,網頁</small>
            </div>
          </div>
          <!-- end -->
          <!-- start -->
          <div class="side-list clearfix">
            <div class="col-sm-4">
              <a class="side-list-img" href="article_page.html" class="img-responsive" style="overflow:hidden;display:block">
                <img src="uploads/news/news_05.jpeg" alt="">
              </a>
            </div>
            <div class="col-sm-8 ">
              <h3>
                <a href="article_page.html">【什麼是「網站優化」，優化面向為何?】</a>
              </h3>
              <p class="text-justify">正確的「網站優化」它包含的不僅是網站排名，而是指全面性的各大網站改良工作。使網站能夠更順利的向顧客傳遞資訊，進而將網站發揮最大的網路行銷價值…
              </p>
              <small class="side-list-date small">
                <i class="fa fa-fw fa-lg s fa-clock-o"></i>2018-04-22</small>
              <br>
              <small class="side-list-tag small">
                <i class="fa fa-fw fa-tags fa-lg"></i>Tags：設計,網頁</small>
            </div>
          </div>
          <!-- end -->
        </div>
      </div>
    </div>
  </div>
  <!-- mv_side_list_end -->