<!-- mv_slide_col6_start -->
  <div class="section deco_bg_1">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>網站設計流程</h1>
        </div>
      </div>
      <div class="row ">
        <div class="slider">
          <div width="100%">
            <!-- start -->
            <div class="col-md-6">
              <br>
              <img src="images/communication_01.jpg" class="img-responsive">
              <!-- end -->
            </div>
            <div class="col-md-6">
              <h1 class="text-info">溝通需求</h1>
              <h3>讓我們為您的消費者需求把脈</h3>
              <p class="text-justify">
                在達到第三層的社交、愛、歸屬的層次前，我們都需要先擁有安全感，進而才能找尋認同並達成社交與溝通。</p>
              <p class="text-justify">旨在確定專案利害關係者對派實際矩陣 (RAM)、專案所涉及之學科領域、部門及專長、後勤支援需求人員與地點、內部與外部資訊需求、利害關係者登錄表及利害關係者管理策略所記述之利害關係者資訊。</p>
            </div>
          </div>
          <div width="100%">
            <!-- start -->
            <div class="col-md-6">
              <br>
              <img src="images/communication_01.jpg" class="img-responsive">
              <!-- end -->
            </div>
            <div class="col-md-6">
              <h1 class="text-info">溝通需求</h1>
              <h3>讓我們為您的消費者需求把脈</h3>
              <p class="text-justify">
                在達到第三層的社交、愛、歸屬的層次前，我們都需要先擁有安全感，進而才能找尋認同並達成社交與溝通。</p>
              <p class="text-justify">旨在確定專案利害關係者對派實際矩陣 (RAM)、專案所涉及之學科領域、部門及專長、後勤支援需求人員與地點、內部與外部資訊需求、利害關係者登錄表及利害關係者管理策略所記述之利害關係者資訊。</p>
            </div>
          </div>
          <div width="100%">
            <!-- start -->
            <div class="col-md-6">
              <br>
              <img src="images/communication_01.jpg" class="img-responsive">
              <!-- end -->
            </div>
            <div class="col-md-6">
              <h1 class="text-info">溝通需求</h1>
              <h3>讓我們為您的消費者需求把脈</h3>
              <p class="text-justify">
                在達到第三層的社交、愛、歸屬的層次前，我們都需要先擁有安全感，進而才能找尋認同並達成社交與溝通。</p>
              <p class="text-justify">旨在確定專案利害關係者對派實際矩陣 (RAM)、專案所涉及之學科領域、部門及專長、後勤支援需求人員與地點、內部與外部資訊需求、利害關係者登錄表及利害關係者管理策略所記述之利害關係者資訊。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- mv_slide_col6_end -->